@charset "UTF-8";

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 8px 8px 14px rgba(73, 73, 74, 0.738);
    width: 700px;
    padding: 100px;
    margin: auto;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  
  h2 {
    margin-top: 10px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0095f6;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  #link-bloqueado {
    display: none;
    margin-top: 20px;
  }
  
  #link-desbloqueado {
    display: none;
    margin-top: 20px;
  }
  